### 03 Basic Python Semantics: Variables and Objects

In [34]:
x = 10
y = x

In [35]:
x += 5  # Add 5 to x and assign it to x

In [36]:
print("x:", x)
print("y:", y)

x: 15
y: 10

#### Everything is an object

In [37]:
x = 4
type(x)

int

In [38]:
x = "Test Something"
type(x)

str

In [39]:
x = [1, 2, 3]
x.append(100)
print(x)

[1, 2, 3, 100]

In [40]:
x = 4.5
x.is_integer()

False

In [41]:
x = 4.0
x.is_integer()

True

In [42]:
type(x.is_integer)

builtin_function_or_method

### 04 - Basic Python Semantics: Operators

In [43]:
# True Division
print(11 / 2)

5.5

In [44]:
# Floor Division
print(11 // 2)

5

In [45]:
#Comparision Operators

#25 is odd
25 % 2 == 1

True

In [46]:
66 % 2 == 1

False

In [47]:
a = 25
15 < a < 30

True

In [48]:
-1 == ~0

True

In [49]:
#Boolean Operations
x = 4
(x < 6) and (x > 2)

True

In [50]:
(x > 10) or (x % 2 == 0)

True

In [51]:
not (x < 6)

False

#### Identity and Membership Operators

The identity operators, "is" and "is not" checks if the object is same.

In [52]:
a = [1, 2, 3]
b = [1, 2, 3]

In [53]:
a == b

True

In [54]:
a is b

False

In [55]:
a is not b

True

As a and b are different objects, the test identity test gives False as output. But the equality test gives True as both objects have same values.

In [56]:
b = a

In [57]:
a is b

True

In [58]:
b is a

True

Here both a and b are same objects and hence identity tests gives True results.

#### Membership operators

In [59]:
1 in [1, 2, 3]

True

In [60]:
2 not in [1, 2, 3]

False

In [61]:
### 06 - Built-In Types: Simple Values

Python Simple Types are: 
    - Int
    - Float
    - Complex
    - Boolean
    - str
    - NoneType

In [62]:
x = 1

In [63]:
type(x)

int

In [64]:
5 / 2

2.5

In [65]:
# Floor Division
5 // 2

2

Floating Point Numbers: Equality test might fail in floating point numbers and hence never run equality test for this type. Example:

In [66]:
0.1 + 0.2 == 0.3

False

In [67]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

String Type

In [68]:
message = "what do you like?"
answer = 'spam'

In [69]:
len(message)

17

In [70]:
message.upper()

'WHAT DO YOU LIKE?'

In [71]:
message + answer

'what do you like?spam'

In [72]:
5 * answer

'spamspamspamspamspam'

In [73]:
message[2]

'a'

In [74]:
# NoneType
type(None)

NoneType

In [75]:
return_value = print('abc')

abc

In [76]:
type(return_value)

NoneType

In [77]:
#Boolean Type
result = (4 < 5)
result

True

In [78]:
type(result)

bool

In [79]:
print(True, False)

True False

In [80]:
bool(2014)

True

In [81]:
# Any number other than 0, Boolean representation is True
bool(0)

False

In [108]:
# For None type Boolean representation is always False
bool(None)

False

In [109]:
# Any blank string Boolean representation is False
bool("")

False

In [110]:
# Any blank List Boolean representation is False
bool([])

False

### 06 - Built-In Data Structures

#### List
List are ordered and mutable data collection type

In [85]:
L = [2, 3, 5, 7]

In [86]:
# Length of List
len(L)

4

In [87]:
# Append Value to List
L.append(11)
L

[2, 3, 5, 7, 11]

In [88]:
# Addition Concatenates List
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [89]:
# sort() method sorts the list in-place
L = [2, 5, 1, 6, 4, 3]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [90]:
# List can contain objects of any type
L = [1, 3.14, 'Any', True, [0, 3, 5]]
L

[1, 3.14, 'Any', True, [0, 3, 5]]

#### List Indexing and Slicing

In [91]:
L = [2, 3, 5, 7, 11]

In [92]:
L[0]

2

In [93]:
L[1]

3

In [94]:
L[-1]

11

In [95]:
L[-2]

7

In [96]:
# Slicing
L[0:3]

[2, 3, 5]

In [97]:
L[:3]

[2, 3, 5]

In [98]:
# Last 3 ELements of the list
L[-3:]

[5, 7, 11]

In [99]:
# Step Size
# equivalent to L[0:len(L):2]

L[::2]

[2, 5, 11]

In [100]:
# Reverse the List array
L[::-1]

[11, 7, 5, 3, 2]

In [101]:
# Set Elements in List
L[0] = 100
L

[100, 3, 5, 7, 11]

In [102]:
L[1:3] = [55,57]
L

[100, 55, 57, 7, 11]

#### Tuples

In [103]:
t = (1, 2, 3)

In [104]:
# Equivalent
t = 1, 2, 3
print(t)

(1, 2, 3)

In [105]:
len(t)

3

In [106]:
t[1]

2

In [107]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [111]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [112]:
# A particularly common case is in functions that have multiple return values
x = 0.125
x.as_integer_ratio()

(1, 8)

In [113]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

#### Dictionaries

In [116]:
# Created via a comma-separated list of key:value pairs within curly braces:
numbers = {'one':1, 'two':2, 'three':3}

In [117]:
# Accessing Value using key
numbers['two']

2

In [118]:
# Set a new Key:Value Pair
numbers['nine'] = 9
numbers

{'one': 1, 'two': 2, 'three': 3, 'nine': 9}

#### Sets

In [119]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [120]:
# union: with an operator
primes | odds

{1, 2, 3, 5, 7, 9}

In [121]:
# union: with method
primes.union(odds)

{1, 2, 3, 5, 7, 9}

In [122]:
#Intersection: appearing in both - with an operator
primes & odds

{3, 5, 7}

In [123]:
# Intersection with method
primes.intersection(odds)

{3, 5, 7}

In [124]:
# Difference
primes - odds

{2}

In [125]:
primes.difference(odds)

{2}

In [126]:
primes ^ odds

{1, 2, 9}

In [127]:
primes.symmetric_difference(odds)

{1, 2, 9}

### 7 - Control Flow Statements

#### Conditional Statement - If-elif-else

In [132]:
# Conditional Statement - If-elif-else

x = -15
if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is Positive")
elif x < 0:
    print(x, "is Negative")
else:
    print("Not Sure if its a number")

-15 is Negative

#### Loop Statement - for

In [136]:
# Loop Statement - for
for N in [2,4,6,8]:
    print(N, end=' ')    # print all on same line use:   end=' '

2 4 6 8

In [137]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [139]:
list(range(4,8))

[4, 5, 6, 7]

In [140]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
Loop Statement - while

In [143]:
i = 0
while i < 10:
    print(i, end=' ')
    i+=1

0 1 2 3 4 5 6 7 8 9

#### Break and Continue in For and While Loop

- The break statement breaks-out of the loop entirely 
- The continue statement skips the remainder of the current loop, and goes to the next iteration

In [144]:
for n in range(20):
    # if the remainder of the n / 2 = 0, then skip the remaining loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [146]:
a, b = 0, 1
amax = 100
L = []

# while True loop will execute forever if we do not include break statement
while True:
    (a,b) = (b, b+a)
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

#### Loop with an Else block

In [148]:
# One rarely used pattern available in Python is the else statement as part of a for or while loop

#In the below example, the else block is executed only if the loop ends naturally, without encountering a break statement.
L = []
nmax = 30

for n in range(2, nmax):
    for factor in L:
        if n % factor == 0:
            break
    else:  # no break
        L.append(n)
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]