### 03 Basic Python Semantics: Variables and Objects

In [52]:
x = 10
y = x

In [53]:
x += 5  # Add 5 to x and assign it to x

In [54]:
print("x:", x)
print("y:", y)

x: 15
y: 10

#### Everything is an object

In [55]:
x = 4
type(x)

int

In [56]:
x = "Test Something"
type(x)

str

In [57]:
x = [1, 2, 3]
x.append(100)
print(x)

[1, 2, 3, 100]

In [58]:
x = 4.5
x.is_integer()

False

In [59]:
x = 4.0
x.is_integer()

True

In [60]:
type(x.is_integer)

builtin_function_or_method

### 04 - Basic Python Semantics: Operators

In [61]:
# True Division
print(11 / 2)

5.5

In [62]:
# Floor Division
print(11 // 2)

5

In [63]:
#Comparision Operators

#25 is odd
25 % 2 == 1

True

In [64]:
66 % 2 == 1

False

In [65]:
a = 25
15 < a < 30

True

In [66]:
-1 == ~0

True

In [67]:
#Boolean Operations
x = 4
(x < 6) and (x > 2)

True

In [68]:
(x > 10) or (x % 2 == 0)

True

In [69]:
not (x < 6)

False

#### Identity and Membership Operators

The identity operators, "is" and "is not" checks if the object is same.

In [70]:
a = [1, 2, 3]
b = [1, 2, 3]

In [71]:
a == b

True

In [72]:
a is b

False

In [73]:
a is not b

True

As a and b are different objects, the test identity test gives False as output. But the equality test gives True as both objects have same values.

In [74]:
b = a

In [75]:
a is b

True

In [76]:
b is a

True

Here both a and b are same objects and hence identity tests gives True results.

#### Membership operators

In [77]:
1 in [1, 2, 3]

True

In [78]:
2 not in [1, 2, 3]

False

### 06 - Built-In Data Structures

#### List
List are ordered and mutable data collection type

In [79]:
L = [2, 3, 5, 7]

In [80]:
# Length of List
len(L)

4

In [81]:
# Append Value to List
L.append(11)
L

[2, 3, 5, 7, 11]

In [82]:
# Addition Concatenates List
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [83]:
# sort() method sorts the list in-place
L = [2, 5, 1, 6, 4, 3]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [84]:
# List can contain objects of any type
L = [1, 3.14, 'Any', True, [0, 3, 5]]
L

[1, 3.14, 'Any', True, [0, 3, 5]]

#### List Indexing and Slicing

In [85]:
L = [2, 3, 5, 7, 11]

In [86]:
L[0]

2

In [87]:
L[1]

3

In [88]:
L[-1]

11

In [89]:
L[-2]

7

In [90]:
# Slicing
L[0:3]

[2, 3, 5]

In [91]:
L[:3]

[2, 3, 5]

In [92]:
# Last 3 ELements of the list
L[-3:]

[5, 7, 11]

In [93]:
# Step Size
# equivalent to L[0:len(L):2]

L[::2]

[2, 5, 11]

In [94]:
# Reverse the List array
L[::-1]

[11, 7, 5, 3, 2]

In [95]:
# Set Elements in List
L[0] = 100
L

[100, 3, 5, 7, 11]

In [96]:
L[1:3] = [55,57]
L

[100, 55, 57, 7, 11]

#### Tuples

In [97]:
t = (1, 2, 3)

In [98]:
# Equivalent
t = 1, 2, 3
print(t)

(1, 2, 3)

In [99]:
len(t)

3

In [100]:
t[1]

2

In [101]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.append(4)

In [ ]:
# A particularly common case is in functions that have multiple return values
x = 0.125
x.as_integer_ratio()

In [ ]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

#### Dictionaries

In [ ]:
# Created via a comma-separated list of key:value pairs within curly braces:
numbers = {'one':1, 'two':2, 'three':3}

In [ ]:
# Accessing Value using key
numbers['two']

In [ ]:
# Set a new Key:Value Pair
numbers['nine'] = 9
numbers

#### Sets

In [ ]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [ ]:
# union: with an operator
primes | odds

In [ ]:
# union: with method
primes.union(odds)

In [ ]:
#Intersection: appearing in both - with an operator
primes & odds

In [ ]:
# Intersection with method
primes.intersection(odds)

In [ ]:
# Difference
primes - odds

In [ ]:
primes.difference(odds)

In [ ]:
primes ^ odds

In [ ]:
primes.symmetric_difference(odds)